* {
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Quicksand', sans-serif;
   
    margin: 0;
    padding: 0;
  }
   
  h2,
  h3 {
    color: #FC6736;
  }
   
  footer {
    padding: 20px;
    color: #FC6736;
    background-color: #0C2D57;
   
    text-align: center;
    font-weight: bold;
  }
   
  nav a {
    font-size: 18px;
   
    font-weight: 400;
    text-decoration: none;
   
    color: #FC6736  ;
  }
   
  nav a:hover {
    font-weight: bold;
  }
   
  .profile header {
    text-align: center;
  }
   
  .featured-image {
    width: 100%;
    max-height: 300px;
   
    object-fit: cover;
    object-position: center;
  }
   
  .profile img {
    max-width: 200px;
  }
   
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
   
    padding: 20px;
  }

  .card img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
    height: auto;
  }
   
  .jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #0C2D57;
    text-align: center;
    color: #FC6736;
  }
   
  nav ul {
    padding-inline: 4rem;
    display: flex;
   
    gap: 2rem;
  }
   
  nav li {
    list-style-type: none;
  }
   
  nav {
    background-color: #40679E;
    padding: 5px;
   
    position: sticky;
    top: 0;
  }
   
  main {
    padding: 20px;
   
    display: flex;
    gap: 1.5rem;
  }
   
  #content {
    flex: 5;
   
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
  }
   
  aside {
    flex: 1;
  }
   
  header {
    display: inline;
  }
   
  @media screen and (max-width: 1200px) {
    main{
        flex-flow: column nowrap;
    }

    main aside{
        align-self: center;
    }
  }

  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
   
    main aside {
      align-self: stretch;
    }
  }